---
import { Image } from "@astrojs/image/components";

const className = "text-4xl md:text-6xl font-extrabold";
const borderRadius = "100% 0% 100% 0% / 100% 0% 100% 0% ";
---

<section>
  <div class="container mx-auto px-4">
    <div
      class="bg-[#F4F6F5] grid grid-cols-1 md:grid-cols-2 gap-y-7 rounded-[50px] px-4 md:px-[81px] pt-[68px] overflow-hidden"
    >
      <div class="relative z-10 flex flex-col gap-y-2 hero-content">
        <div class="relative">
          <h1 class={`${className} z-10`}>LET’S</h1>
          <div
            class="absolute bg-white w-[53%] h-full top-[2px] -z-[1] -left-2 md:-left-6 -rotate-[2deg]"
          >
          </div>
        </div>
        <div>
          <h1 class={className}>EXPLORE</h1>
        </div>
        <div class="relative">
          <h1 class={className}>UNIQUE</h1>
          <div
            class="absolute bg-[#EBD96B] w-[70%] md:w-[60%] h-full top-[2px] -z-[1] -left-2 md:-left-6 -rotate-[2deg]"
          >
          </div>
        </div>
        <div>
          <h1 class={className}>CLOTHES.</h1>
        </div>

        <p class="text-[#191818] my-4">
          Live for Influential and Innovative fashion!
        </p>

        <div class="flex gap-x-4 items-center">
          <div style={{ borderRadius }} class="bg-[#EBD96B] w-24 h-5 rotate-6">
          </div>
          <button
            class="text-[16px] lg:text-xl text-white bg-black px-4 py-2 rounded-[7px] max-w-[221px]"
            type="button">Shop Now</button
          >
        </div>
      </div>
      <div class="hero-img w-full flex-1">
        <Image
          src="/images/girlhero.png"
          alt="Shopping gril"
          width={891}
          height={784}
          format="webp"
          class="pointer-events-none"
        />
      </div>
    </div>
  </div>
</section>

<style lang="scss">
  .hero-content {
    -webkit-animation: slide-left 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation: slide-left 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }

  .hero-img {
    -webkit-animation: slide-up 2s 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation: slide-up 2s 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }

  @keyframes slide-left {
    0% {
      opacity: 0;
      transform: translateX(-30px);
    }
    100% {
      opacity: 1;
      transform: none;
    }
  }

  @keyframes slide-up {
    0% {
      opacity: 0;
      transform: translateY(40px);
    }
    100% {
      opacity: 1;
      transform: none;
    }
  }
</style>
