---
import { Image } from "@astrojs/image/components";
const logos = [
  {
    image: "/images/hm.png",
    width: 118.26,
    height: 69.51,
  },
  {
    image: "/images/obey.png",
    width: 150,
    height: 52.67,
  },
  {
    image: "/images/shopify.png",
    width: 176,
    height: 61.8,
  },
  {
    image: "/images/lacost.png",
    width: 235,
    height: 69.96,
  },
  {
    image: "/images/levis.png",
    width: 127,
    height: 70.68,
  },
  {
    image: "/images/amazon.png",
    width: 166,
    height: 63,
  },
];
---

<section class="bg-[#EBD96B] my-[32px]">
  <div class="container mx-auto px-4 py-6">
    <div class="flex">
      <div
        class="w-full flex flex-wrap items-center justify-center md:justify-between gap-x-6"
      >
        {
          logos.map((logo) => (
            <Image
              src={logo.image}
              alt={`${logo.image
                .toString()
                .replace(/\/|\.png|images/g, "")
                .toUpperCase()} Logo`}
              width={logo.width}
              height={logo.height}
              format="webp"
              class="pointer-events-none mix-blend-multiply shrink-0 w-[100px]"
            />
          ))
        }
      </div>
    </div>
  </div>
</section>

<style>
  .marquee__container::-webkit-scrollbar {
    display: none;
  }
</style>
