---
import Title from "./Title.astro";
---

<section>
  <div class="relative z-10 container mx-auto px-4">
    <Title title="NEW ARRIVALS" />

    <div
      class="grid grid-cols-1 sm:grid-cols-3 place-items-center gap-6 md:gap-20 mb-24"
    >
      <div>1</div>
      <div>2</div>
      <div>3</div>
    </div>
  </div>
</section>
