---
import Title from "./Title.astro";
import { newArrivals } from "../data/data";
import ProductCard from "./ProductCard.astro";
---

<section>
  <div class="relative z-10 container mx-auto px-4">
    <Title title="NEW ARRIVALS" />

    <div
      class="grid grid-cols-1 sm:grid-cols-3 place-items-center gap-6 md:gap-20 mb-24"
    >
      {
        newArrivals.map((item) => (
          <a href={item.title.toLowerCase()}>
            <ProductCard props={item} width={484} height={704} />
          </a>
        ))
      }
    </div>
  </div>
</section>
