---
import Head from "../components/Head.astro";
import Footer from "../components/Footer.astro";
import Navbar from "../components/Navbar.astro";

interface Props {
  title?: string;
  description: string;
}

const { title = "Fashion", description } = Astro.props as Props;
---

<html lang="en">
  <Head {title} {description} />
  <body class="bg-[#fff]">
    <Navbar />
    <main>
      <slot />
    </main>
    <Footer />
    <style lang="scss">
      html {
        scroll-behavior: smooth;
      }
    </style>
  </body>
</html>
